@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;600;900&family=Poppins:ital,wght@0,500;1,500;1,600;1,700&family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Thai', sans-serif;
    box-sizing: border-box;
}

/*********************** Header ***********************/
header {
    width: 100%;
    height: 35px;
    background-color: #003159;
    /* fix nav top */
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    transition: top 0.3 ease-out;
}

header.hide {
    top: -61px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.nav-container {

    display: flex;

}

.nav-container :where(img, div) {
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .nav-container {
        display: flex;
    }
    .nav-bar h1 {
        justify-content: left;
    }

.nav-bar {
    width: 0%;
    margin-top: auto;
}
}

.nav-bar {
    width: 95%;
    margin-top: auto;
}

.nav-bar h1 {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'poppins', sans-serif;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
}

.nav-con img {
    width: 55px;
    height: 35px;
}

/*********************** content ***********************/
.content {
    width: 100%;
    height: auto;
    background: #fff;
}

.content-heading h1 {
    font-size: 1.50rem;
    margin-top: 60px;
    margin-bottom: 30px;
}

h2 {
    font-size: 0.9rem;
}


.content-heading {
    text-align: center;
    margin: 20px 0;
}

/*********************** content-input-1 ***********************/
.content-input-1 {
    width: 100%;
    background-color: #DFF1FF;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.con-name-title {
    margin: 10px 0;
    margin-bottom: 20px;
}

.con-fullname {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
}

.con-fullname .con-name {
    margin-right: 20px;

}


.con-fullname .con-lname {
    
}
.form-floating.success input {
    border-color: #09c372;
}

.form-floating.error input {
    border-color: #ff3860;
}

.form-floating .error {
    color: #ff3860;
    font-size: 16px;
    height: 13px;
}

.con-workplace {
    margin-bottom: 20px;
}
.con-position {
    margin-bottom: 20px;
}

.con-salary {
    margin-bottom: 20px;
}


.con-startDate {
    margin: 10px 0;
}


/*********************** content-input-2 ***********************/
.content-input-2 {
    width: 100%;
    background-color: #DFF1FF;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.con-location {
    margin-bottom: 20px;
}

.con-phone {
    margin-bottom: 20px;
}

.con-email {
    margin-bottom: 20px;
}

.con-residence {
    margin: 10px 0;
}

.con-residence .container {
    display: flex;
    flex-direction: row;
}

.con-residence .container div {

    margin-right: 50px;

}

/*********************** content-input-3 ***********************/
.content-input-3 {
    padding: 10px 0;
    background-color: #DFF1FF;
    border-radius: 10px;
    height: 100%;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.content-input-3 .bt-work-addform:hover {
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.content-input-3 .workExp {
    position: relative;
    width: 95%;
    margin: 0 auto;
}
.workExp-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.workExp-flex .head-text h2{
    font-weight: 600;
    margin: 10px;
}

.workExp .bt-work-addform {
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;
    border-radius: 10px;
}

.workExp .bt-work-addform i {
    margin-right: 2px;
    margin-top: 3.5px;
    font-size: 20px;
}

.workExp .bt-work-addform h2 {
    width: 40px;
    margin-top: 12px;
}

.workExp .formLists {
    width: 100%;
    height: 100%;
    /* overflow-y: auto; */
    padding-right: 10px;
    align-items: center;
    transition: 0.3 ease-in-out
}
.formLists .list-work {
    list-style: none;
    position: relative;
    /* cursor: pointer; */
    margin-bottom: 10px;
    margin-top: 30px;
}
.formLists .list-work .input-control{
    margin-bottom: 10px;
}

.formLists .list-work .input-control-area textarea{
    resize: none;
}

.formLists .list-work #conDate{
    display: flex;
    justify-content: space-between;
}

.formLists .list-work i {
    position: absolute;
    top:-13%;
    right: 15px;
    transform: translateY(100%);
    font-size: 20px;
    color: #707070;
    padding: 5px;
    opacity: 0.6;
    cursor: pointer;
    /* display: none; */
  }
  /* .formLists .list:hover i {
    display: inline-flex;
  } */
  .formLists .list-work i:hover {
    opacity: 1;
  }
  .formLists .list-work hr {
    display: block;
    height: 2.5px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 30px 0;
    padding: 0;
}
.checkdate{
    opacity: 1;
    transition: 0.3s ease-in-out;
  }
.checkdateClose{
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
.input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}


 

/*********************** content-input-4 ***********************/
.content-input-4 {
    padding: 10px 0;
    background-color: #DFF1FF;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.content-input-4 .language {
    position: relative;
    width: 95%;
    margin: 0 auto;
}
.language-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.content-input-4 .bt-language-addform:hover {
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.language .bt-language-addform {
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;
    border-radius: 10px;
}

.language .bt-language-addform i {
    margin-right: 2px;
    margin-top: 3.5px;
    font-size: 20px;
}

.language .bt-language-addform h2 {
    width: 40px;
    margin-top: 12px;
}
.language-flex .head-text h2{
    font-weight: 600;
    margin: 10px;
}

.language .formLists-language {
    width: 100%;
    height: 100%;
    /* overflow-y: auto; */
    padding-right: 10px;
    align-items: center;
    transition: 0.3 ease-in-out;
    list-style: none inside;
}
.language .list-language{
    list-style: none inside;
}
.formLists-language .list-language {
    list-style: none;
    position: relative;
    /* cursor: pointer; */
    margin-bottom: 10px;
}
.formLists-language .list-language i {
    position: absolute;
    top:-40%;
    right: 15px;
    transform: translateY(10%);
    font-size: 20px;
    color: #707070;
    padding: 5px;
    opacity: 0.6;
    cursor: pointer;
    /* display: none; */
  }
  /* .formLists-language .list:hover i {
    display: inline-flex;
  } */
  .formLists-language .list-language i:hover {
    opacity: 1;
  }
  .formLists-language .list-language hr {
    display: block;
    height: 2.5px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 30px 0;
    padding: 0;
}
.list-language #grid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    
}
.list-language #grid label{
    padding-top: 20px;
}
.list-language #grid input{
    margin-top: 10px;
}
.formLists-language .list-language #grid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    margin-top: 20px;
}
.formLists-language .list-language #grid label{
    padding-top: 20px;
}
.list-language .language-more .L-footer {
    display: flex;
}
.list-language .language-more .L-footer .bt-language-addform{
    margin-top: 10px;
    margin-left: 20px;
}
.list-language .language-more .L-footer label{
    margin-left: 30px;
    padding-top: 20px;
}
/*********************** content-input-5 ***********************/
.content-input-5 {
    padding: 10px 0;
    background-color: #DFF1FF;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.content-input-5 .talent {
    position: relative;
    width: 95%;
    margin: 0 auto;
}

.talent-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content-input-5 .bt-talent-addform:hover {
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.talent .bt-talent-addform {
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.talent .bt-talent-addform i {
    margin-right: 2px;
    margin-top: 3.5px;
    font-size: 20px;
}

.talent .bt-talent-addform h2 {
    width: 40px;
    margin-top: 12px;
}
.talent-flex .head-text h2{
    font-weight: 600;
    margin: 10px;
}

.talent .formLists-talent {
    width: 100%;
    height: 100%;
    /* overflow-y: auto; */
    padding-right: 10px;
    align-items: center;
    transition: 0.3 ease-in-out;
    list-style: none inside;
}
.talent .list-talent{
    list-style: none inside;
}
.formLists-talent .list-talent {
    list-style: none;
    position: relative;
    /* cursor: pointer; */
    margin-bottom: 0px;
    margin-top: 10px;
}
.formLists-talent .list-talent .input-control-dropdown {
    display: flex;
}
.formLists-talent .list-talent .input-control-dropdown .form-label{
    margin-top: 8px;
    margin-right: 20px;
}
.formLists-talent .list-talent .input-control-dropdown .form-label input{
    height: 42px;
}
.formLists-talent .list-talent i {
    position: absolute;
    top: 3%;
    right: 15px;
    transform: translateY(10%);
    font-size: 20px;
    color: #707070;
    padding: 5px;
    opacity: 0.6;
    cursor: pointer;
    /* display: none; */
  }
  /* .formLists-talent .list:hover i {
    display: inline-flex;
  } */
  .formLists-talent .list-talent i:hover {
    opacity: 1;
  }

  .formLists-talent .list-talent hr {
    display: block;
    height: 2.5px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
    padding: 0;
}
.list-talent #talent{
    display: grid;
    grid-template-columns: repeat(2, 14% 1fr);
    justify-items: center;
}
.list-talent #talent label{
    padding-top: 20px;
}
.list-talent #talent input{
    margin-top: 10px;
}
.formLists-talent .list-talent .input-control-dropdown .form-select{
    width: 65%;
}
.formLists-talent .list-talent #talent label{
    padding-top: 20px;
}

.list-talent .talent-more .L-footer {
    display: flex;
}
.list-talent .talent-more .L-footer .bt-talent-addform{
    margin-top: 10px;
    margin-left: 20px;
}
.list-talent .talent-more .L-footer label{
    margin-left: 30px;
    padding-top: 20px;
}
/*********************** content-input-6 ***********************/
.content-input-6 {
    width: 100%;
    background-color: #DFF1FF;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.content-input-6 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 15rem;
}

.content-input-6 .container.active {
    border: 3px solid #003159;
}

.content-input-6 .container {
    border: 3px dashed #003159;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-input-6 .head-addform:hover {
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

div span {
    text-align: center;
}

.form-header span {
    font-size: 15px;
}

.form-img i {
    font-size: 5rem;
}

.form-footer span {
    font-size: 0.5rem;
}

.content-input-6 .container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/*********************** input-7 ***********************/

.content-input-7{
    width: 100%;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    background-color: #DFF1FF;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}
.content-input-7 .con{
    border: 2px dashed #699 1.95px 1.95px 2.6px;
    height: 100%;
    border: 3px dashed #003159;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 15rem;
}
.content-input-7 h4{
    color: #699;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}
.content-input-7 form{
    height: 167px;
    display: flex;
    margin: 30px 0;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}
form :where(i,p){
    color: #699;
}
form i{
    font-size: 50px;
}
form p{
    font-size: 16px;
    margin-top: 15px;
}
section .row{
    background: #C6EBC5;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .row i{
    font-size: 30px;
    color: #699;
}
section .details span{
    font-size: 14px;
}
.progress-area .row .content{
    width: 100%;
    margin-left: 15px;
}
.progress-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}
.progress-area .progress-bar{
    height: 6px;
    width: 100%;
    background: #fff;
    margin-bottom: 4px;
    border-radius: 30px;
}
.progress-bar .progress{
    height: 100%;
    width: 0%;
    background: #699;
    border-radius: inherit;
}
/* *************************** Scroll-bar ************************** */
.uploaded-area{
    max-height: 150px;
    overflow-y: scroll;
}
.uploaded-area::-webkit-scrollbar{
    width: 0px;
}

.uploaded-area .row .content{
    display: flex;
    align-items: center;
}
.uploaded-area .row .details{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.uploaded-area .details .size{
    font-size: 11px;
    color: #404040;
}
.uploaded-area .uil-check{
    color: #699;
    font-size: 30px;
}
/*********************** button ***********************/
button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #003159;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 20px;
    border: #003159;
    transition: .3s ease-in-out;
}

button:hover {
    background-color: #425261;
}

.button {
    text-align: right;
    padding-right: 40px;
}

/*********************** footer ***********************/
footer {
    width: 100%;
    text-align: center;
    background-color: #003159;
}

.Connect-con h1 {
    padding-top: 10px;
    font-family: 'poppins', sans-serif;
    color: #fff;
    font-size: 1rem;
}

.Connect-con span {
    font-family: 'poppins', sans-serif;
    color: #425261;
    font-size: 10px;
}

/*********************** copyright ***********************/
.copyright {
    width: 100%;
    height: 60px;
    background-color: #2b2b2b;
}

.copyright-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.copyright-grid p {
    color: #fff;
    font-size: 10px;
    margin-top: 20px;
}

.copyright-grid a {
    color: #DFF1FF;
}

.copyright-grid .copytext {
    justify-self: flex-start;
    align-self: center;

}

.copyright-grid .language {
    justify-self: flex-end;
    align-self: center;

}

/************** Text Row control ***************/

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control.error div{
    color: #ff3860;
    font-size: 16px;
    height: 13px;
}
/************** Text-area control ***************/
.input-control-area.success textarea {
    border-color: #09c372;
}
.input-control-area.error textarea {
    border-color: #ff3860;
}
.input-control-area.error div{
    color: #ff3860;
    font-size: 16px;
    height: 13px;
}
/************** Text-Dropdown control ***************/
.input-control-dropdown.success select {
    border-color: #09c372;
}
.input-control-dropdown.error select {
    border-color: #ff3860;
}
.input-control-dropdown.error div{
    color: #ff3860;
    font-size: 16px;
    height: 13px;
}

@media (max-width: 600px) {
    .nav-bar h1 {
        justify-content: left;
    }


}

/* =================================    form input  ================================================================================================== */

/* For Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #ccc;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}


@media screen and (max-width: 400px) {
  .content-input-3 {
    padding-top: 0px;

}  
  .workExp {
    padding: 25px 10px;
  }
  .formLists .list {
    width: 93%;
}
}